$primary: #f8f8f8;
$primary-light: #efefef;
$primary-dark: #23272a;
$secondary: #2694e9;
$secondary-light: #2464b8;
$secondary-dark: #364cb1;
$purple: #3b468b;
$pink: #8c4875;
$pink-dark: #6a4786;
$white: #fff;
$gray: #7b7d81;
$black: #000;